<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="MobileOptimized" content="176" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="robots" content="noindex,nofollow" />
    <script src="https://telegram.org/js/telegram-web-app.js?2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="telegramApp.js"></script>

</head>
<body>
	<div id="app">
		<div v-if="loading">{{status}}</div>
		<div v-else>
			<form v-on:submit="save" >
				<div class="" v-for="result in results">
					<p>
						<input type="checkbox" v-model="result[3]" :chat_id="result[0]" />
						<label>{{result[2]}}</label>
					</p>
				</div>

				<input type="submit" value="Сохранить" />
			</form>
		</div>
	</div>

	<script src="baseUrl.js"></script>
	<script src="getParams.js"></script>
	<script src="vueApp.js"></script>
</body>
</html>