<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="MobileOptimized" content="176" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="robots" content="noindex,nofollow" />
    <script src="https://telegram.org/js/telegram-web-app.js?2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="telegramApp.js"></script>
<style>
.section {
  .t1 {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .t2 {
    margin-left: 20px;
  }

  .channel-list {
    overflow-y: auto;
    height: auto;
    max-height: 300px;
  }

  .sort-options {
    margin-top: 5px;
  }
}

.submit {
  margin-top:125px;
}

</style>

</head>
<body>
	<div id="app">
		<div v-if="loading">{{status}}</div>
		<div v-else>
			<form v-on:submit="save" >
				<div class="section">
					<div class="t1">
						<label >Каналы</label>
					</div>

					<div class="t2">
						<div>Фильтр</br>
							<input type="text" v-model="search">
						</div>

						<div class="channel-list">
							<div v-for="result in filteredResults">
								<p>
									<input type="checkbox" v-model="result[3]" :chat_id="result[0]" />
									<label>{{result[2]}}</label>
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="section">
					<div class="t1">
						<label >Сообщения</label>
					</div>

					<div class="t2">
						<div>Сортировка</br>
							<select class="sort-options" v-model="selectedSortOption">
								<option v-for="item in sortOptions" :value="item.id">
									{{ item.val }}
								</option>
							</select>
						</div>
					</div>
				</div>

				<input class="submit" type="submit" value="Сохранить" />
			</form>


			<div style="color: grey; float: right; position: fixed; bottom: 0; right: 0; padding: 5px;"></br></br>Version 0.01</div>
		</div>
	</div>

	<script src="baseUrl.js"></script>
	<script src="getParams.js"></script>
	<script src="vueApp.js"></script>
</body>
</html>